/* Archivo que contendra todos los elementos visuales */
@import url(Css/Utils/Global.css); /* Importamos el archivo Global.css que contiene los elementos globales del proyecto*/
@import url(Css/Utils/Layout.css); /* Importamos el archivo que contiene la configuaracion del layout*/
@import url(Css/Components/botones.css);
@import url(Css/Components/formularios.css);
@import url(Css/Components/dieño_footer.css);
@import url(Css/Components/diseño_header.css);
@import url(Css/Utils/Layout-menu.css); /* Importamos el archivo que contiene la configuaracion del layout del menu principal*/
@import url(Css/Components/titulo_menus.css); /* Importamos el componente de titulos para los menus*/

