/* Archivo que contendra todos los elementos visuales */
@import url(/Css/Utils/Global.css); /* Importamos el archivo Global.css que contiene los elementos globales del proyecto*/
@import url(/Css/Utils/Layout.css); /* Importamos el archivo que contiene la configuaracion del layout*/
@import url(/Css/Components/botones.css);
@import url(/Css/Components/formularios.css);
@import url(/Css/Components/dieño_footer.css);
@import url(/Css/Components/diseño_header.css);


