/*Este archivo contiene los elementos globales del proyecto*/

*{
    margin: 0; /*Eliminamos los margenes exteriores*/
    padding: 0; /*Eliminamos los margenes interiores*/
    box-sizing: border-box; /*Modificamos el modelo de caja estándar*/
}

/* Seccion para custom propertys */
:root{ 

    /* Variables de colores */
        --color_principal: #002349;
        --color_secundario: #ffffff;
        --color_terceario: #957C3D;
        --color_capos_formulario: #EDEDED;
        --colo_capos_formulario-oscuro:#001328;
        --color_borde_formulario: rgba(0, 0, 0, 0.25);
        --color_ingresos: #258D19;
        --color_egresos: #C20000;

    /* Variables de letras (textos)*/

        --color_texto-oscuro: #191919;
        --fuente_principal: 'Poppins', sans-serif;
        --tamaño_fuente:17px;
        --tamaño_fuente_campos: 17px;
        --tamaño_fuente_boton: 20px;
        --tamaño_fuente_titulo-formulario: 18px;
        --tamaño_fuente-links: 19px;
        --tamaño_fuente-movimientos: 22px;

    /* Variables de tamaño*/
        --alto_header: 10vh;
        --alto_footer: 10vh;
        --alto_main: calc(100vh - (var(--alto_footer) + var(--alto_header))); 
        --ancho_formulario: 480px;
        --tamaño_icono:50px;
    /* Variables del logo*/
        --color_logo:#ffffff;
        --fuente_logo: 'Poppins', sans-serif;
        --tamaño_logo-grande:50px;
        --tamaño_logo-pequeño: 40px;
        --grosor_logo:300;

    /*Variables de bordes*/

        --radio_borde-contenedores: 3px;
}

body{
    background: linear-gradient(#002349 30%, #003977);
    /* background-color: var(--color_principal); */
    font-family: var(--fuente_principal);
}