/*Este archivo contiene los elementos globales del proyecto*/

*{
    margin: 0; /*Eliminamos los margenes exteriores*/
    padding: 0; /*Eliminamos los margenes interiores*/
    box-sizing: border-box; /*Modificamos el modelo de caja estándar*/
}

/* Seccion para custom propertys */
:root{ 

    /* Variables de colores */
        --Color_fondo: linear-gradient(#002349 35%, #003977);
        --color_principal: #002349;
        --color_secundario: #ffffff;
        --color_terceario: #957C3D;
        --color_capos_formulario: #EDEDED;
        --color_borde_formulario: rgba(0, 0, 0, 0.25);

    /* Variables de letras (textos)*/

        --color_texto-oscuro: #191919;
        --fuente_principal: 'Poppins', sans-serif;

    /* Variables de tamaño*/

    /* Variables del logo*/
        --color_logo:#ffffff;
        --fuente_logo: 'Poppins', sans-serif;
        --tamaño_logo-grande:50px;
        --grosor_logo:lighter;
}

body{
    background-image: var(--Color_fondo);
    font-family: var(--fuente_principal);
}