body{ /*Creamos la estructura grid para las paginas*/

    display: grid;

    grid-template-rows: var(--alto_header) var(--alto_main) var(--alto_footer);
    grid-template-areas: /*Asignamos nombres alas areas*/
        "header"
        "main"
        "footer"
    ;
    min-height: 100vh; /*Definimos el alto minimo*/
}

.main_header{
    grid-area: header;
    display: flex;
    justify-content: center;
    align-items: flex-end;
}

.main_menu{
    grid-area: main;
    display: flex;
    justify-content: center;
    align-items: center;
}

.main_footer{
    grid-area: footer;
}

