/* ============= Creamos la grid para los menus =============*/

.main-menu__Layout-general{
    height: 100%;
    width: 100%;

    display: grid;
    grid-template-rows: 0.1fr 1fr;
    grid-template-columns: 1fr 1fr;
    padding: 0px 35px;
}

.main-menu__Layout-menu{ /*layout para el menu principal*/
    height: 100%;
    width: 100%;

    display: grid;
    grid-template-rows: 0.1fr 1fr;
    grid-template-columns: 0.8fr 1fr;
    padding: 0px 35px;
}

.main-menu__Layout-historial-resumenes{ /*Layout para el historial de resumenes*/
    height: 100%;
    width: 100%;

    display: grid;
    grid-template-rows: 0.1fr 1fr;
    grid-template-columns: 1fr 0.5fr 0.9fr;
    padding: 0px 35px;
}

