

/*Componente boton general*/

.boton{

    /*Dimenciones y tipo de display*/
    display: flex;
    height: 50px;
    width: 150px;
    /*Color de fondo y letras*/
    background-color: var(--color_terceario);
    color: var(--color_secundario);
    /*Tipo de fuente y grosor*/
    font-family: var(--fuente_principal);
    font-weight:500;
    font-size: var(--tamaño_fuente_boton);
    border-radius: 8px; /*Radio del borde*/
    /*Alineamos los elementos*/
    align-items: center;
    justify-content: center;
    padding: 10px;
    text-decoration: none; /*Eliminamos la decoracion al texto*/
}


/*Componentes de boton de salida*/

.boton-salir{

    /*Dimenciones y tipo de display*/
    display: flex;
    height: 50px;
    width: 150px;
    /*Color de fondo y letras*/
    background-color: var(--color_principal);
    color: var(--color_secundario);
    /*Tipo de fuente y grosor*/
    font-family: var(--fuente_principal);
    font-weight:normal;
    font-size: var(--tamaño_fuente_boton);
    border-radius: 8px; /*Radio del borde*/
    /*Alineamos los elementos*/
    align-items: center;
    justify-content: center;
    padding: 10px;
    text-decoration: none; /*Eliminamos la decoracion al texto*/
}

.boton_realizar_registro{
    display: flex;
    justify-content: center;
    align-items: center;

    background-color: var(--color_secundario);
    height: 100%;
    width: 100%;
    grid-row: 2/3;

    color: var(--color_texto-oscuro);
    font-size: 25px;
    font-weight: 100;
    text-decoration: none;
    border-radius: 3px;
}
