/*Hoja de estilos para los componentes contenedores*/

.main-menu__contenedor-izquierda{
    /*Aplicamos dimenciones*/
    height: 100%;
    width: 100%;
    /*Asignamos el display y el alineamiento de elementos*/
    display: flex;
    align-items: center;
    justify-content: center;
    grid-row: 2;
    grid-column: 1;
}

.main-menu__contenedor-derecha{
    /*Aplicamos dimenciones*/
    height: 100%;
    width: 100%;
    /*Asignamos el display y el alineamiento de elementos*/
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr;
    grid-row: 2;
    grid-column: 2;
}