
/*=================== Elementos de formulario libre uso ========================*/

.logotipo_formularios{ /*Aplicamos estilos al logo de la aplicacion*/
    color: var(--color_logo);
    font-family: var(--fuente_logo);
    font-weight: var(--grosor_logo);
    font-size: var(--tamaño_logo-grande);
}

.linea{ /*Le aplicamos estilos a la linea de separacion*/
    width: 95%;
    background-color: var(--color_terceario);
    height: 3px;
}

.linea-texto{
    width: 70%;
    background-color: var(--color_terceario);
    height: 3px;
}

.formulario_titulo{ /*Estilos para el titulo del formualrio*/
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: var(--color_terceario);
    font-size: var(--tamaño_fuente_titulo);
    font-family: var(--fuente_principal);
}

.formulario_label{
    font-size: var(--tamaño_fuente);
    color: var(--color_texto-oscuro);
    font-weight: 700;
}

.formulario_input{ /*Aplicamos estilos a los imputs*/
    height: 50px;
    width: 370px;
    background-color: var(--color_capos_formulario);
    padding: 10px;
    border-radius: var(--radio_borde-contenedores);
    border-style: solid;
    border-color: var(--color_borde_formulario);
    font-size: var(--tamaño_fuente);
    outline: none;
}

.link_formulario{ /*Aplicamos estilos al link del formulario*/
    color: var(--color_terceario);
}

.formulario_navegacion{ /*Aplicamos parametros al contenedor de navegacion*/
    display: flex;
    width: 100%;
    height: 100px;
    flex-direction: column;
    align-items: center;
    justify-content:space-around;
}

/*==================== Formulario de inicio de sesion =============================*/

.formulario_inicio_contenedor{ /*Parametros para el contenedor del formulario*/
    height: 420px;
    width: var(--ancho_formulario);
    background-color: var(--color_secundario);
    border-radius: var(--radio_borde-contenedores);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 25px;
    gap: 25px;
}

.formulario_inicio-formulario{ /*Parametros del formulario*/
    display: flex;
    flex-direction: column;
    gap: 30px;
    margin-top: 0 20px;
}

.link_formulario_inicio-registro{ /*Aplicamos estilos al link del formulario*/
    color: var(--color_terceario);
    text-decoration: none;
    align-self: flex-start;
}


/*==================== Formulario de registro de usuario =============================*/

.formulario_registro_contenedor{ /*Parametros para el contenedor del formulario*/
    height: 650px;
    width: var(--ancho_formulario);
    background-color: var(--color_secundario);
    border-radius: var(--radio_borde-contenedores);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    gap: 20px;
    padding: var(--padding_formulario);
}

.formulario_registro-form{
    display: flex;
    flex-direction: column;
    gap: 35px;
}

/*==================== Formulario de recuperacion de contraseña =============================*/

.formulario_recuperacion_contenedor{ /*Parametros para el contenedor del formulario*/
    height: 340px;
    width: var(--ancho_formulario);
    background-color: var(--color_secundario);
    border-radius: var(--radio_borde-contenedores);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    padding: var(--padding_formulario);
}

.formulario_recuperacion-form{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    gap: 40px;
}

.formulario_navegacion-alinear_botones{ /*Aplicamos parametros al contenedor de navegacion*/
    display: flex;
    width: 370px;
    align-items: center;
    justify-content: space-between;
}

/*==================== Formulario de codigo de verificacion =============================*/

.formulario_codigo_contenedor{ /*Parametros para el contenedor del formulario*/
    height: 420px;
    width: var(--ancho_formulario);
    background-color: var(--color_secundario);
    border-radius: var(--radio_borde-contenedores);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    padding: var(--padding_formulario);
}

.formulario_codigo-form{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.formulario_mensaje{
    display: flex;
    width: 100%;
    flex-direction: column;
    align-items: center;
    text-align: center;
    gap: 10px;
    font-size: var(--tamaño_fuente);
    color: var(--color_texto-oscuro);
}

.formulario_texto{
    width: 230px;
    margin-bottom: 15px;
    color: var(--color_texto-oscuro);
}



/*==================== Formulario de codigo de cambio de contraseña =============================*/

.formulario_cambio_contraseña_contenedor{ /*Parametros para el contenedor del formulario*/
    height: 370px;
    width: var(--ancho_formulario);
    background-color: var(--color_secundario);
    border-radius: var(--radio_borde-contenedores);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    padding: var(--padding_formulario);
}

.formulario_cambio_contraseña-form{ /*Parametros del formulario*/
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 30px;
    margin-top: 0 20px;
}

/*==================== Formulario de registro de transaccion =============================*/

.formulario__input_registro{
    width: 100%;
    height: 70px;
    padding: 10px;
    background-color: var(--color_capos_formulario);
    border-radius: var(--radio_borde-contenedores);
    border-style: solid;
    border-color: var(--color_borde_formulario);
    font-size: var(--tamaño_fuente);
    outline: none;
}

.seccion__caja-eleccion{
    width: 45%;
    height: 70px;
    padding: 10px;
    background-color: var(--color_capos_formulario);
    border-radius: var(--radio_borde-contenedores);
    border-style: solid;
    border-color: var(--color_borde_formulario);
    font-size: var(--tamaño_fuente);
    outline: none;
}

.seccion__input_registro{
    width: 45%;
    height: 70px;
    padding: 10px;
    background-color: var(--color_capos_formulario);
    border-radius: var(--radio_borde-contenedores);
    border-style: solid;
    border-color: var(--color_borde_formulario);
    font-size: var(--tamaño_fuente);
    outline: none;
}

.formulario__caja-texto{
    width: 100%;
    height: 30%;
    padding: 10px;
    background-color: var(--color_capos_formulario);
    border-radius: var(--radio_borde-contenedores);
    border-style: solid;
    border-color: var(--color_borde_formulario);
    font-size: var(--tamaño_fuente);
    outline: none;
}
