/* Componenete de titulo para los menus*/

.Layout-menu__informacion{
    display: flex;
    align-items: flex-end;
    gap: 15px;
}

.Layout-menu__informacion__texto{
    color: var(--color_secundario);
    font-size: 25px;
}

.Layout-menu__informacion__titulo{
    color: var(--color_secundario);
    font-size: 30px;
    font-weight: 500;
}