/* Componenete de titulo para los menus*/

.layout-menu__informacion {
    display: flex;
    align-items: center;
    gap: 15px;
}

.layout-menu__texto {
    color: var(--color_secundario);
    font-size: 35px;
}

.layout-menu__titulo {
    color: var(--color_secundario);
    font-size: 35px;
    font-weight: 500;
}