/* Componenete de titulo para los menus*/

.menu_informacion{
    display: flex;
    align-items: flex-end;
    gap: 15px;
}

.menu_informacion-texto{
    color: var(--color_secundario);
    font-size: 25px;
}

.menu_informacion-titulo{
    color: var(--color_secundario);
    font-size: 30px;
    font-weight: 500;
}