/*Hoja de estilos del menu principal*/

.Layout-menu__contenedor{ /*Aplicamos los parametros para el elemento contenedor en el menu*/
    height: 100%;
    width: 100%;
    grid-row: 2;
    grid-column: 2/3;
    padding-left: 30px;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.contenedor__historial{ /*parametros para el historial*/
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 35%;
    width: 100%;
    padding: 20px;
    background-color: var(--color_secundario);
    grid-row: 2;
    grid-column: 2/3;
    border-radius: var(--radio_borde-contenedores);
}

.historial__ingresos{ 
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.ingresos-textos{ /*parametros para los textos de ingresos*/
  color: var(--color_ingresos);
  font-size: var(--tamaño_fuente-movimientos);
}

.historial__egresos{ 
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.egresos-textos{ /*parametros para los textos de egresos*/
  color: var(--color_egresos);
  font-size: var(--tamaño_fuente-movimientos);
}

.historial__titulo{
  font-weight: var(--grosor_titulo);
  font-size: 28px;
}

/* ===================== Seccion de resumenes =======================*/

.contenedor__resumenes{ /*parametros para el contenedor de resumenes*/
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 20px;
  height: 60%;
  width: 100%;
  background-color: var(--color_secundario);
  grid-row: 2;
  grid-column: 2/3;
  border-radius: var(--radio_borde-contenedores);
}

.resumenes__titulo{
  font-weight: var(--grosor_titulo);
  font-size: 28px
}

.resumenes__elementos{

  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 5px;

}