/* hoja de estilos unicos para la configuracion de usaurio*/

.contenedor-izquierda__formulario {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  gap: 50px;
}

.formulario__campos-usuario {
  display: flex;
  flex-direction: column;
}

.formulario__campos-label {
  font-size: var(--tamaño_fuente);
  color: var(--color_secundario);
  font-size: 25px
}

.formulario__campos-input {
  height: 40px;
  width: 500px;
  background-color: var(--colo_capos_formulario-oscuro);
  padding: 10px;
  border-radius: var(--radio_bode-contenedores);
  border-style: solid;
  border-color: var(--color_borde_formulario);
  font-size: var(--tamaño_fuente);
  outline: none;
  color: var(--color_secundario);
}

.contenedor-derecha__formulario {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

.formulario__imagen-label {
  color: var(--color_secundario);
  font-size: 30px;
  font-weight: 600;
  cursor: pointer;
}

.formulario__imagen-input {
  display: none;
  /*Sacamos del flujo el input para ocultar el texto extra*/
}

.formulario__icono {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 300px;
  width: 300px;
  border-radius: 50%;
  background-color: var(--color_secundario);
  color: var(--color_principal);
}