/* hoja de estilos para la vista de administrar usuarios */

.layout-general__tabla{
    /* Damos un tamaño al contenedor*/
    height: 100%;
    width: 100%;
    /*Asignamos un color de fondo y radio del borde*/
    background-color: var(--color_secundario);
    border-radius: var(--radio_borde-contenedores);
    /*Asignamos su posicion en la grid*/
    grid-row: 2;
    grid-column: 1/3;
    /*Alineamos el texto*/
    text-align: center;
    /*Eliminamos los bordes de la tabla*/
    border-collapse: collapse;
    border-spacing: 0;
}

.layout-general__tabla-encabezado{
    background-color: var(--color_capos_formulario);
    font-size: var(--tamaño_fuente_titulo);
    color: var(--color_texto-oscuro);
    height: 50px;
}

.layout-general__tabla-encabezado th{
    padding: 10px;
    border-bottom: 2px solid var(--color_linea_divisora);
}

.layout-general__tabla-cuerpo{
    font-size: var(--tamaño_fuente);
    color: var(--color_texto-oscuro);
    height: 50px;
}

.layout-general__tabla-cuerpo td{
    padding: 10px;
    border-bottom: 2px solid var(--color_linea_divisora);
}

.layout-general__tabla-cuerpo a{
    text-decoration: none;
    color: var(--color_texto-oscuro);
}

.layout-general__tabla-cuerpo a:hover{
    color: var(--color_terceario);
}

.layout-general__tabla-cuerpo a::after {
  content: "/"; /* El carácter que queremos como separador */
  margin-left: 5px; /* Espacio antes del separador */
}

.layout-general__tabla-cuerpo a:last-child::after {
  content: ""; /* No mostrar nada después del último elemento */
}




