/* Hoja  de estilos para el historial de transacciones */


.Layout-general__contenedor-transacciones{
    background-color: var(--color_secundario);
    height: 100%;
    width: 100%;
    grid-area: 2;
    grid-column: 1/3;
    display: flex;
}

.contenedor-transacciones__tabla{
    width: 100%;
    padding: 10px;
    text-align: center;
}

.tabla__encabezado th{
    border-bottom: 1px solid var(--color_linea_divisora);
    font-size: var(--tamaño_fuente_titulo-formulario);
    margin: 20px;
}

.cuerpo__ingreso{
    color: var(--color_ingresos);
    font-size: var(--tamaño_fuente);
}

.cuerpo__egreso{
    font-size: var(--tamaño_fuente);
    color: var(--color_egresos);
}