/*Hoja de estilos del menu principal*/

.Layout-menu__contenedor{
    height: 100%;
    width: 100%;
    grid-row: 2;
    grid-column: 2/3;
    padding-left: 30px;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.contenedor__historial{
    height: 35%;
    width: 100%;
    padding: 10px 20px;
    background-color: var(--color_secundario);
    grid-row: 2;
    grid-column: 2/3;
    border-radius: var(--radio_borde-contenedores);
}

.contenedor__resumenes{
    height: 60%;
    width: 100%;
    background-color: var(--color_secundario);
    grid-row: 2;
    grid-column: 2/3;
    border-radius: var(--radio_borde-contenedores);
}