/* Archivo que contendra todos los elementos visuales del formulario de ingreso de codigo de recueracion de contraseña */
@import url(../Utils/Global.css); /* Importamos el archivo Global.css que contiene los elementos globales del proyecto*/
@import url(../Utils/Layout.css); /* Importamos el layout */
@import url(../Components/botones.css);
@import url(../Components/formularios.css);
@import url(../Components/dieño_footer.css);