/* Hoja de estilos para el registro de transacciones */

.Layout-general__contenedor-registro{
    /*Tamaño y color del contenedor*/
    height: 100%;
    width: 100%;
    background-color: var( --color_secundario);
    /*Posicionamiento en la grid general*/
    grid-column: 1/3;
    grid-row: 2;
    /*Aplicamos display y padding*/
    display: grid;
    grid-template-rows: 1fr;
    grid-template-columns: 1fr 0.5fr;
}

.contenedor-registro__formulario{
    height: 100%;
    width: 100%;
    padding: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

.formulario__seccion{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

/*==================================== Seccion de informacion del formulario ========================================*/

.formulario__informacion{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    padding: 30px;
}

.informacion__titulo{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    color: var(--color_terceario);
    font-size: var(--tamaño_fuente_titulo);
    font-weight: var( --grosor_titulo);
}

.informacion__lista{
    width: 100%;
    display: flex;
    flex-direction: column;
    font-size: var(--tamaño_fuente);
    color: var(--color_texto-oscuro);
    gap: 35px;
}

.informacion__lista li{
    margin-left: 30px;
}

.informacion__opciones{
    width: 95%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}